



.appointment-body {
  background-color: $green; /* Set the background color */
  padding: 20px; /* Add some padding around the content */
  min-height: 100vh; /* Ensure the background covers the full height of the viewport */
  width: 100%; /* Ensure the background covers the full width of the viewport */
  margin: 0; /* Remove any default margin */
  box-sizing: border-box; /* Include padding in the element's width and height */
  padding-bottom: 60px;
}

.card-for-content {
  background: white;
  border-radius: 10px;
  padding: 20px; /* Add padding inside the card */
  box-sizing: border-box;
  height: 100%; /* Ensure the card stretches to fit its container */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is evenly distributed */
}

.appointment-card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
}


.appointment-button-decision {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 20px; /* Space between the buttons */
  // margin-top: 10px; /* Add some margin to separate buttons from other content */
  position: relative;
  left: 50%; /* Align horizontally at the midpoint */
  bottom: 0px; /* Adjust the positioning relative to the chat button */
  transform: translateX(-50%); /* Center the buttons at the midpoint */
}



button {
  font-weight: 500;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 50px;
  color: $darkgreen;
  background-color: $green;
  border-style: none;
}

.done-button {

  color: white;
  border-radius: 50px;
  text-align: center;

}



.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 16px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

// .m-3 {
//   margin: 16px;
// }

// .mt-1 {
//   margin-top: 4px;
// }
