.appointment-body {
  background-color: $green; /* Set the background color */
  padding: 20px; /* Add some padding around the content */
  min-height: 100vh; /* Ensure the background covers the full height of the viewport */
  width: 100%; /* Ensure the background covers the full width of the viewport */
  margin: 0; /* Remove any default margin */
  box-sizing: border-box; /* Include padding in the element's width and height */
  padding-bottom: 60px;
}

.card-for-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.appointment-card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  gap: 5px;
}


.appointment-button-decision {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 20px; /* Space between the buttons */
  // margin-top: 10px; /* Add some margin to separate buttons from other content */
  position: relative;
  left: 50%; /* Align horizontally at the midpoint */
  bottom: 0px; /* Adjust the positioning relative to the chat button */
  transform: translateX(-50%); /* Center the buttons at the midpoint */
}



button {
  font-weight: 500;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 50px;
  color: $darkgreen;
  background-color: $green;
  border-style: none;
}

.done-button {
  color: white;
  border-radius: 50px;
  text-align: center;
}


.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 16px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.form-inline .form-control {
  width: auto;
  display: inline-block;
  text-align: center;
  margin-left: -225px;
  background-color: #1f7c8e;
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
