/* Default Padding and Margin for the website */
$default-padding: 2px;
$default-margin: 10px;

/* Class to be applied on any page to adapt Padding for the whole website */
.side-bottom-margin-container {
  padding: $default-padding;
  margin: $default-margin;
  padding-bottom: 20px;
}


.bookbutton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  border-radius: 10px;
  // border-top: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner h1 {
  color: white;
  background-color: rgba(31, 124, 142, 0.6);
  display: inline-block;
  line-height: 1;
  padding: 5px;
}


// .home-image-container {
//   position: relative;
//   width: 100%;
// }


.welcome-card {
  position: relative;
  width: 94%;
  max-width: 800px;
  height: 130px; /* Ensures the card is not taller than 300px */
  margin-top: 80px;
  margin-bottom: 40px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensures content stays within the bounds of the card */
}

.welcome-card {
  content: '';
  position: relative;
  width: 94%;
  max-width: 800px;
  height: 130px; /* Ensures the card is not taller than 300px */
  margin-top: 80px;
  margin-bottom: 40px;
  border-radius: 10px;
  text-align: left;
  background-color: $green;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensures content stays within the bounds of the card */

  .h1, h2, h3, p {
  color: $midgreen;

}

}

.background-image img {
  width: 100%;
  height: auto;
  // border-radius: 10px;
  opacity: 0.1;

}

.welcome-content {
  position: absolute;
  top: 20%;
  left: 20px;  /* Aligns text to the left */
  right: 20px; /* Ensures the profile image stays aligned to the right */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  /* Aligns the profile image to the top of the text */
}

.welcome-text h2 {
  font-size: 24px;
  // font-weight: 600;
}


.welcome-text p, .welcome-text h2 {
  margin: 0px;
}


.profile-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff; /* White border around the profile picture */
  object-fit: cover;
  overflow: hidden;
}
