/* Card and Button Styling */
.news-feed-card {
  border-radius: 10px;
}

.news-feed-card .card-header {
  border-radius: 10px;
  cursor: pointer;
  padding: 18px;
}

.news-feed-card .card-header h5 {
  margin: 0;
  color: #1F7A8C;
}

.news-feed-card .btn-toggle {
  background-color: $midgreen;
  color: #FFFFFF;
  font-size: 18px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}

.home-button {
  background-color: $midgreen;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 6px solid white;
}

.news-feed-card .card-body {
  background-color: white;
  color: #1F7A8C;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Spacing and Responsiveness */
.news-feed-card {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .news-feed-card .card-body {
    padding: 20px 40px;
    display: flex;
  }
}

.overlay-text h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
