
.appointmentbooking {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  h1 {
    font-weight: 700;
    padding-left: 20px;
  }
}

h1, h2, h3, .form-section h1, .form-section h2, .form-section h3 {
  font-weight: 700;
  color: $midgreen; /* Unified color */

}

p, .form-section p {
  color:$midgreen ; /* Unified color */
}

.category-card,
.appointment-type-card,
.clinician-card,
.time-slot,
.more-button
{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 0;
  width: calc(100% - 6px);
  max-width: 500px;
  background-color: #81C8F2;
}

.category-card i {
  font-size: 34px;
  margin-right: 10px; /* Adjust space between icon and text */
}

.category-card h3 {
  margin: 0;
  flex-grow: 1; /* Allows h3 to take up remaining space */
}

.category-card p {
  flex-basis: 100%;
  margin-top: 10px; /* Space between h3 and p */
}

.category-card{
  background-color: #F4F4F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
}


.question-buttons button {
  flex: 1;
  margin: 0 5px; /* Add some space between buttons */
  max-width: 100px; /* Optional: to set a maximum width for the buttons */
}


textarea {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px 0;
  border: 1px solid #228B22; /* Example hex value for $midgreen */
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.booking-index-headings {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-section {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.appointment-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-type-row {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.appointment-type-card {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100%;
  background-color: #228B22; /* Example hex value for $midgreen */
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment-type-card i {
  font-size: 40px;
  margin-bottom: 0px;
}

#available-clinicians {
  border-radius: 8px;
  padding: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clinicians-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.clinician-card {
  background: #0000FF; /* Example hex value for $blue */
  border-radius: 8px;
  padding: 20px;
  width: calc(50% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.clinician-card div {
  margin-bottom: 10px;
}

.clinician-card .times {
  display: flex;
  flex-direction: column;
}

.time-slot {
  background: #fff;
  color: #006400; /* Example hex value for $darkgreen */
  border-radius: 4px;
  padding: 10px;
  margin: 5px 5px;
  cursor: pointer;
  text-align: center;
}

.more-button {
  background: #fff;
  color: #228B22; /* Example hex value for $green */
  border: 1px solid #228B22; /* Example hex value for $green */
  border-radius: 4px;
  margin-top: 10px;
}

.back-button {
  background: white; /* Example hex value for $green */
  border: none;
  font-size: 16px;
}

.btn-primary {
  background-color: $midgreen;
  border: none;
}


// .btn-secondary {
//   background-color: #022B3A;
//   border: none;
// }

.category-card i {
  color: #1F7A8C;
}
