
.appointmentbooking {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  h1 {
    font-weight: 700;
    padding-left: 20px;
  }
}

h1, h2, h3, .form-section h1, .form-section h2, .form-section h3 {
  font-weight: 700;
  color: $midgreen; /* Unified color */

}

p, .form-section p {
  color:$midgreen ; /* Unified color */
}

.category-card,
.time-slot,
.more-button
{
  display: flex;
  // flex-direction: column;
  padding: 5px;
  margin: 10px 0;
  width: calc(100% - 6px);
  max-width: 500px;
  // background-color: #81C8F2;
}




.question-buttons button {
  flex: 1;
  margin: 0 5px; /* Add some space between buttons */
  max-width: 100px; /* Optional: to set a maximum width for the buttons */
}


textarea {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px 0;
  border: 1px solid #228B22; /* Example hex value for $midgreen */
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.booking-index-headings {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-section {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.appointment-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appointment-type-row {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.appointment-type-card {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  background-color: $midgreen; /* Example hex value for $midgreen */
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.appointment-type-card i {
  font-size: 40px;
  margin-bottom: 0px;
}


.clinicians-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}


.clinician-card div {
  margin-bottom: 10px;
}

.clinician-card .times {
  display: flex;
  flex-direction: column;
}


// .more-button {
//   background: #fff;
//   color: #228B22; /* Example hex value for $green */
//   border: 1px solid #228B22; /* Example hex value for $green */
//   border-radius: 4px;
//   margin-top: 10px;
// }

.back-button {
  background: white; /* Example hex value for $green */
  border: none;
  font-size: 16px;
}

.btn-primary {
  background-color: $midgreen;
  border: none;
}
