
.clinician-details {
  display: flex;
  align-items: center;
  padding: 14px;
}

.clinician-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 12px;
  left: 12px;
  text-shadow:
    -1px -1px 0 #000, /* Top-left shadow */
    1px -1px 0 #000,  /* Top-right shadow */
    -1px 1px 0 #000,  /* Bottom-left shadow */
    1px 1px 0 #000;   /* Bottom-right shadow */
}

.rating-heart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #dcdcdc;
  cursor: pointer;
}

.heart-icon.toggled {
  color: red;
}

.clinician-name {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

#appointment-reason {
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  height: 220px;
  align-content: baseline;
}


.appointmentbooking {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}


h1, .form-section h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 12px;
  text-shadow:
    -1px -1px 0 $darkgreen,
     1px -1px 0 $darkgreen,
    -1px  1px 0 $darkgreen,
     1px  1px 0 $darkgreen; /* Creates an outline effect using shadows */
}




.booking-index-headings {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 30px;
  color: $midgreen;
  text-align: center;
  padding-bottom: 10px;
}

h2, h3, h4, .form-section h2, .form-section h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $midgreen; /* Unified color */
}

p, .form-section p {
  color: $midgreen; /* Unified color */
  text-align: left;
  // margin: 6px;
}

.symptoms_text {
  padding: 20px 14px 0px 14px;
  font-size: 16px;
}

.category-card,
.time-slot,
.more-button {
  display: flex;
  padding: 5px;
  margin: 10px 2px;
  width: calc(100% - 6px);
  max-width: 500px;
  cursor: pointer;
}

.category-card {
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  overflow: hidden; /* Hide any content that overflows the card */
}

.category-card .card-product-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
  width: 100%; /* Ensure it doesn't overflow the parent */
}

#char-counter {
  margin-top: 15px;
  color: #1f7c8e;
}

#details-container p
{
  color: black;
  margin-right: 14px;
}

.category-card h3, .category-card p {
  font-family: 'Roboto', sans-serif;
}

.appointment-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appointment-type-row {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.appointment-type-card {
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  height: 100px;
  margin: 44px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: $midgreen; /* Example hex value for $midgreen */
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.appointment-type-card i {
  font-size: 40px;
  margin-bottom: 0px;
  cursor: pointer;
}



.form-section {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.clinicians-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}


.clinician-card .times {
  display: flex;
  flex-direction: row; /* Change from column to row */
  flex-wrap: wrap; /* This allows the times to wrap to the next line if they don't fit in one line */
  gap: 10px; /* Optional: add some spacing between the time slots */
}
