<div class="footer-bar">
  <a href="<%= root_path %>" class="nav-item">
    <i class="fas fa-clinic-medical"></i>
  </a>

  <a href="<%= appointments_path %>" class="nav-item">
    <i class="fas fa-notes-medical"></i>
  </a>

  <a href="" class="nav-item">
    <i class="fas fa-comment-medical"></i>
  </a>

  <a href="" class="nav-item">
    <%# <i class="fas fa-user"></i> %>
  </a>

<div class="footer1">
  <!-- Plus Button as a dropdown toggle -->
  <div class="dropdown">
    <div class="plus-button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
     +
    </div>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="/appointments/new" data-turbo="false">Book Appointment</a></li>
    </ul>
  </div>
</div>
