<div class="footer-bar">
  <a href="<%= root_path %>" class="nav-item">
    <i class="fas fa-home"></i>
  </a>

  <a href="<%= appointments_path %>" class="nav-item">
    <i class="fas fa-calendar-alt"></i>
  </a>

  <a href="" class="nav-item">
    <i class="fas fa-envelope"></i>
  </a>

  <a href="" class="nav-item">
    <%# <i class="fas fa-user"></i> %>
  </a>

  <div class="footer1">
    <!-- Plus Button as a dropdown toggle -->
    <div class="dropdown">
      <div class="plus-button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      </div>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Option 1</a></li>
        <li><a class="dropdown-item" href="#">Option 2</a></li>
        <li><a class="dropdown-item" href="#">Option 3</a></li>
      </ul>
    </div>
  </div>
</div>
