<div class="footer-bar">

  <a href="<%= root_path %>" class="nav-item">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </a>

  <a href="<%= appointments_path %>" class="nav-item">
    <i class="fas fa-calendar-alt"></i>
    <span>Appointments</span>
  </a>

  <a href="" class="nav-item">
    <i class="fas fa-envelope"></i>
    <span>Messages</span>
  </a>

  <a href="" class="nav-item">
    <i class="fas fa-user"></i>
    <span>Profile</span>
  </a>
  
</div>
