<div class="welcome-card">
  <div class="background-image">
    <img src="https://wallpapercave.com/wp/wp6938358.jpg" alt="Background Image">
  </div>

  <div class="welcome-content">
    <div class="welcome-text">
      <p>Good afternoon</p>
      <h2>Basia Brzeziecka</h2>
      <p>NHS Number: 263829102</p>
    </div>
    <div class="profile-image">
      <%= image_tag 'basia.png' %>
    </div>
  </div>
</div>



<div class="welcomequestion">
  <h4>How can we help you today?</h4>
</div>

<div class="bookbutton-container">
  <a class="btn-bookappointment" href="/appointments/new" data-turbo="false">Book an Appointment</a>
</div>



<!-- Card with dropdown -->
<div class="container mt-5">
  <div class="card news-feed-card mb-3" id="newsCard1">

    <!-- Bootstrap Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/Dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <!-- The Slideshow/Carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag 'Hero_image1.jpg', alt: 'Hero_image1', class: 'd-block w-100' %>
          <div class="carousel-caption">
            <h1>Welcome to Triageline!</h1>
          </div>
        </div>

        <div class="carousel-item">
          <%= image_tag 'hayfever.png', alt: 'hayfever', class: 'd-block w-100' %>
          <div class="carousel-caption">
            <h1>Top 5 hay fever remedies</h1>
          </div>
        </div>

        <div class="carousel-item">
          <%= image_tag 'mpox.jpg', alt: 'mpox', class: 'd-block w-100' %>
          <div class="carousel-caption">
            <h1>NHS guidance on mpox (monkeypox)</h1>
          </div>
        </div>
      </div>

      <!-- Left and Right Controls/Icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="card-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#collapseContent1" aria-expanded="false" aria-controls="collapseContent1">
      <h5 class="mb-0" style='flex-grow: 1;'>Welcome to triageline</h5>
      <button class="home-button">⬇︎</button>
    </div>

    <div class="collapse" id="collapseContent1">
      <div class="card-body">
        <p>Here is the content for News Topic 1. You can edit this content from the backend.</p>
      </div>
    </div>
  </div>
</div>
