// Book appointment button styling //
.btn-bookappointment {
  display: inline-block;
  width: 90%; /* Full width to make it responsive */
  max-width: 100%; /* Ensures it does not exceed the container width */
  min-width: 330px; /* Set the minimum width */
  padding: 10px 20px;
  background-color: $white;
  color: $midgreen;
  border-radius: 20px;
  border-color: $midgreen;
  border-width: 1px;
  border-style: solid; /* Add this line */
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: larger;
  box-sizing: border-box; /* Ensures padding is included in the width */
}



.back-button {
  background: white; /* Example hex value for $green */
  border: none;
  font-size: 16px;
}

.btn-primary {
  background-color: $midgreen;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
}

.btn-secondary {
  background-color: $midgreen;
  border: none;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  margin: 10px 0;
  width: calc(100% - 6px);
  max-width: 500px;
  align-content: center;
}
