
// Book appointment button styling //
.btn-bookappointment {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: $green;
  color: $white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.bookbutton-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if the container has a height */
  width: 100%;
}
