.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 0 6px 0;
  z-index: 999;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.plus-button-container {
  position: absolute;
  top: -20px; /* Raise the button slightly above the nav bar */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.plus-button {
  background-color: #8CDDDD; /* Primary color */
  color: white; /* plus sign */
  width: 60px;
  height: 60px;
  clip-path: polygon(50% 1%, 99% 25%, 99% 75%, 50% 99%, 1% 75%, 1% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  position: relative;
  z-index: 1; /* Set to a higher value than the container */
}

.plus-button::before {
  content: '';
  position: absolute;
  top: 5px; /* Slight adjustment */
  left: 5px; /* Slight adjustment */
  width: calc(100% - 10px); /* Adjusted size to match the bigger polygon */
  height: calc(100% - 10px); /* Adjusted size to match the bigger polygon */
  clip-path: polygon(50% 1%, 99% 25%, 99% 75%, 50% 99%, 1% 75%, 1% 25%);
  background-color: #2D807C; /* Border color */
  z-index: -1; /* Place behind the button */
  border-radius: 10px; /* Slight rounding for a softer look */
}

.nav-item {
  text-align: center;
  color: #A0A0A0; /* Inactive color for text */
  text-decoration: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

.nav-text {
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
  color: #A0A0A0; /* Inactive color for text */
}

.nav-item.active .nav-text,
.nav-item:focus .nav-text,
.nav-item.focus .nav-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #2D807C; /* Active text color */
}

.nav-item i {
  font-size: 24px;
  display: block;
  color: #A0A0A0; /* Inactive icon color */
}

.nav-item.active i,
.nav-item:focus i,
.nav-item.focus i {
  color: #2D807C; /* Active icon color */
}



.dropdown-menu {
  position: absolute;
  top: -100px; /* Adjust as necessary */
  left: 50%; /* Centers the dropdown horizontally */
  transform: translateX(-50%);
  width: 150px; /* Adjust the width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050; /* Ensure it appears above other elements */
  border-radius: 10px;
  overflow: hidden; /* Ensures content stays within the dropdown */
}

.dropdown-item {
  text-align: center;
  padding: 5px;
  color: #2D807C; /* Dark green for the options text */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides any overflow text */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflow text */
}

.footer1::before {
  content: '';
  position: fixed;
  bottom: 8px;
  width: 65%;
  height: 55px;
  background-color: white;
  border-style: none;
  border-color: #2D807C; /* Use your color variable or a specific color */
  border-width: 1px; /* Set the border width */
  border-radius: 30px; /* Keep the rounded corners */
  display: flex;
  left: 2%;
  transform: translateX(3%);
  z-index: -1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: none;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
