
.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $midgreen ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-item i {
  display: block;
  font-size: 20px;
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  line-height: 40px; /* Center the icon vertically */
  background-color: white;
  color: $midgreen; /* Change to your desired icon color */
  border-radius: 50%;
  text-align: center;
  margin: 0 auto; /* Center the icon horizontally */
}

.nav-item {
  color: white;
  text-align: center;
  text-decoration: none;
}

.nav-item i {
  display: block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: $midgreen;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}
