.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
#clinician-button, #patient-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}
/* Style for the form container */
.form-container {
  position: relative;
  padding: 20px;
}
/* Style for additional fields */
#clinicianFields {
  display: none; /* Initially hide the fields */
  margin-top: 20px;
}

.category-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  // width: calc(33.333% - 40px);
  box-sizing: border-box;
  text-align: center;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.category-card:hover {
  transform: scale(1.05);
  background-color: #f1f1f1;
}

// #category-list {
//   display: flex;
//    flex-wrap: wrap;
//   justify-content: space-around;
// }

#triage-questions {
  display: none;
}

.clinician-card {
  background-color: #e0e0e0;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.times {
  display: flex;
  justify-content: space-between;
}

.times div {
  margin: 0 5px;
}

.more-button {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
