@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "bootstrap";
@import "font-awesome";
@import "components/index";
@import "pages/index";

/*
 *= require flatpickr
 */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EBFFF8;
  color: #022B3A;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  padding-top: 60px; /* Adjust this value as needed */
}

.margin-container {
  padding: 10px;
  box-sizing: border-box;
  margin: 6px;
}

h1, h2, h3 {
  font-weight: 700;
}

button {
  font-weight: 500;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
}

.category-card, .appointment-type-card, .clinician-card, .time-slot {
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  width: calc(100% - 6px);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
}

.category-card h3, .category-card p {
  margin: 0;
  padding: 2px 0;
}

.category-card i {
  font-size: 24px;
  margin-right: 15px;
}

.question-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.question-buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question-buttons button.selected {
  background-color: #4CAF50;
  color: #fff;
}

textarea {
  width: 100%;
  max-width: 500px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
}

.booking-index-headings {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-section {
  display: none;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  background-color: #1F7A8C;
  border: none;
}

.btn-secondary {
  background-color: #022B3A;
  border: none;
}

.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (max-device-width: 667px), only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px), only screen and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 192dpi) and (max-width: 640px) {
  /* Styles */
}
