<div class=margin-container>
<%# Select symptom category page %>
  <div>
    <h1>What can we help with?</h1>
  </div>

  <div class=h2>
    <h2>Admin</h2>

    <h2>Test Results</h2>

    <h2>Muscles and Joints</h2>

    <h2>Contraception</h2>

    <h2>Breathing conditions & Allergies</h2>

    <h2>Mental health</h2>

    <h2>Prescriptions</h2>

    <h2>Diabetes Care</h2>

    <h2>Cold, cough, flu, sore throat & Earaches</h2>

    <h2>Skin issues</h2>

    <h2>Stomach problems</h2>

    <h2>Urine problems</h2>

    <h2>Travel health</h2>

    <h2>Other</h2>
  </div>


<%= link_to 'Back', appointments_path %>


<%# End of symptom category page %>

<%#  %>


</div>
