<div>


<% if current_user.clinician %>
  <p>I'm a clinician</p>
  <p><%= @appointment.appointment_date %></p>
<% else %>
  <p>I'm a patient</p>
  <p><%= @appointment.appointment_date %></p>
<% end %>

<%= link_to 'Back', appointments_path %>

</div>
<%# NEED TO ENABLE AND DISABLE CERTAIN CONTROLS DEPENDING ON IF IT IS A PATIENT OR A CLINICIAN %>
